# Loading Data into a pandas DataFrame

In [4]:
import pandas as pd

In [5]:
# We load Google stock data in a DataFrame
Google_stock = pd.read_csv('./GOOG-1.csv')

# We print some information about Google_stock
print('Google_stock is of type:', type(Google_stock))
print('Google_stock has shape:', Google_stock.shape)

Google_stock is of type: <class 'pandas.core.frame.DataFrame'>
Google_stock has shape: (3313, 7)

In [6]:
Google_stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,8/19/2004,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,8/20/2004,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,8/23/2004,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,8/24/2004,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
4,8/25/2004,52.140873,53.651051,51.604362,52.657513,52.657513,9257400
...,...,...,...,...,...,...,...
3308,10/9/2017,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,10/10/2017,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,10/11/2017,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,10/12/2017,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,10/13/2017,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [7]:
Google_stock.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0  8/19/2004  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  8/20/2004  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  8/23/2004  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  8/24/2004  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  8/25/2004  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [8]:
Google_stock.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3308,10/9/2017,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,10/10/2017,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,10/11/2017,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,10/12/2017,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,10/13/2017,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [9]:
Google_stock.head(13)

         Date       Open       High        Low      Close  Adj Close    Volume
0   8/19/2004  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1   8/20/2004  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2   8/23/2004  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3   8/24/2004  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4   8/25/2004  52.140873  53.651051  51.604362  52.657513  52.657513   9257400
5   8/26/2004  52.135906  53.626213  51.991844  53.606342  53.606342   7148200
6   8/27/2004  53.700729  53.959049  52.503513  52.732029  52.732029   6258300
7   8/30/2004  52.299839  52.404160  50.675404  50.675404  50.675404   5235700
8   8/31/2004  50.819469  51.519913  50.749920  50.854240  50.854240   4954800
9    9/1/2004  51.018177  51.152302  49.512966  49.801090  49.801090   9206800
10   9/2/2004  49.274517  50.854240  49.150326  50.427021  50.427021  15232100
11   9/3/2004  50.148830  50.541279  49.339096  49.681866  49.681866   5191000
12   9/7/2004  50.178635  50.670437  49.483158  50.461796  50.461796   5891300

In [11]:
Google_stock.tail(54)

,Date,Open,High,Low,Close,Adj Close,Volume
3259,7/31/2017,941.890015,943.590027,926.039978,930.500000,930.500000,1970100
3260,8/1/2017,932.380005,937.447021,929.260010,930.830017,930.830017,1277700
3261,8/2/2017,928.609985,932.599976,916.679993,930.390015,930.390015,1824400
3262,8/3/2017,930.340027,932.239990,922.239990,923.650024,923.650024,1202500
3263,8/4/2017,926.750000,930.307007,923.030029,927.960022,927.960022,1082300
3264,8/7/2017,929.059998,931.700012,926.500000,929.359985,929.359985,1032200
3265,8/8/2017,927.090027,935.814026,925.609985,926.789978,926.789978,1061600
3266,8/9/2017,920.609985,925.979980,917.250000,922.900024,922.900024,1192100
3267,8/10/2017,917.549988,919.260010,906.130005,907.239990,907.239990,1824000
3268,8/11/2017,907.969971,917.780029,905.580017,914.390015,914.390015,1206800
3269,8/14/2017,922.530029,924.668030,918.190002,922.669983,922.669983,1064500
3270,8/15/2017,924.229980,926.549988,919.820007,922.219971,922.219971,883400
3271,8/16/2017,925.289978,932.700012,923.445007,926.960022,926.960022,1006700
3272,8/17/2017,925.780029,926.859985,910.979980,910.979980,910.979980,1277200
3273,8/18/2017,910.309998,915.275024,907.153992,910.669983,910.669983,1342700
3274,8/21/2017,910.000000,913.000000,903.400024,906.659973,906.659973,943400
3275,8/22/2017,912.719971,925.859985,911.474976,924.690002,924.690002,1166700
3276,8/23/2017,921.929993,929.929993,919.359985,927.000000,927.000000,1090200
3277,8/24/2017,928.659973,930.840027,915.500000,921.280029,921.280029,1270300
3278,8/25/2017,923.489990,925.554993,915.500000,915.890015,915.890015,1053400
3279,8/28/2017,916.000000,919.244995,911.869995,913.809998,913.809998,1086500
3280,8/29/2017,905.099976,923.330017,905.000000,921.289978,921.289978,1185600
3281,8/30/2017,920.049988,930.818970,919.650024,929.570007,929.570007,1301200
3282,8/31/2017,931.760010,941.979980,931.760010,939.330017,939.330017,1582600
3283,9/1/2017,941.130005,942.479980,935.150024,937.340027,937.340027,947400
3284,9/5/2017,933.080017,937.000000,921.960022,928.450012,928.450012,1326400
3285,9/6/2017,930.150024,930.914978,919.270020,927.809998,927.809998,1527700
3286,9/7/2017,931.729980,936.409973,923.619995,935.950012,935.950012,1212700
3287,9/8/2017,936.489990,936.989990,924.880005,926.500000,926.500000,1011500
3288,9/11/2017,934.250000,938.380005,926.919983,929.080017,929.080017,1267000
3289,9/12/2017,932.590027,933.479980,923.861023,932.070007,932.070007,1134400
3290,9/13/2017,930.659973,937.250000,929.859985,935.090027,935.090027,1102600
3291,9/14/2017,931.250000,932.770020,924.000000,925.109985,925.109985,1397600
3292,9/15/2017,924.659973,926.489990,916.359985,920.289978,920.289978,2505400
3293,9/18/2017,920.010010,922.080017,910.599976,915.000000,915.000000,1306900
3294,9/19/2017,917.419983,922.419983,912.549988,921.809998,921.809998,936700
3295,9/20/2017,922.979980,933.880005,922.000000,931.580017,931.580017,1669800
3296,9/21/2017,933.000000,936.530029,923.830017,932.450012,932.450012,1290600
3297,9/22/2017,927.750000,934.729980,926.479980,928.530029,928.530029,1052700
3298,9/25/2017,925.450012,926.400024,909.700012,920.969971,920.969971,1856800
3299,9/26/2017,923.719971,930.820007,921.140015,924.859985,924.859985,1666900
3300,9/27/2017,927.739990,949.900024,927.739990,944.489990,944.489990,2239400
3301,9/28/2017,941.359985,950.690002,940.549988,949.500000,949.500000,1020300
3302,9/29/2017,952.000000,959.786011,951.510010,959.109985,959.109985,1581000
3303,10/2/2017,959.979980,962.539978,947.840027,953.270020,953.270020,1283400
3304,10/3/2017,954.000000,958.000000,949.140015,957.789978,957.789978,888300
3305,10/4/2017,957.000000,960.390015,950.690002,951.679993,951.679993,952400
3306,10/5/2017,955.489990,970.909973,955.179993,969.960022,969.960022,1213800
3307,10/6/2017,966.700012,979.460022,963.359985,978.890015,978.890015,1173900
3308,10/9/2017,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,10/10/2017,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,10/11/2017,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,10/12/2017,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,10/13/2017,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [12]:
Google_stock.isnull

<bound method DataFrame.isnull of             Date        Open        High         Low       Close   Adj Close  \
0      8/19/2004   49.676899   51.693783   47.669952   49.845802   49.845802
1      8/20/2004   50.178635   54.187561   49.925285   53.805050   53.805050
2      8/23/2004   55.017166   56.373344   54.172661   54.346527   54.346527
3      8/24/2004   55.260582   55.439419   51.450363   52.096165   52.096165
4      8/25/2004   52.140873   53.651051   51.604362   52.657513   52.657513
...          ...         ...         ...         ...         ...         ...
3308   10/9/2017  980.000000  985.424988  976.109985  977.000000  977.000000
3309  10/10/2017  980.000000  981.570007  966.080017  972.599976  972.599976
3310  10/11/2017  973.719971  990.710022  972.250000  989.250000  989.250000
3311  10/12/2017  987.450012  994.119995  985.000000  987.830017  987.830017
3312  10/13/2017  992.000000  997.210022  989.000000  989.679993  989.679993

        Volume
0     44994500
1     23005800
2     18393200
3     15361800
4      9257400
...        ...
3308    891400
3309    968400
3310   1693300
3311   1262400
3312   1157700

[3313 rows x 7 columns]>